.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 60px;
  box-shadow: 0 1px 3px -4px #000;
  margin-bottom: 2px;
  background: white;
}

.nav-logo {
  width: 100px;
}
.nav-profile {
  width: 38px;
}
@media (max-width: 800px){
  .navbar {
    padding: 20px 30px;
  }
  .nav-logo {
    width: 152px;
    height: 56px;
  }
  .nav-profile {
    width: 62px;
  }
}
